@import '../styles.css';

.proyectos {
    padding: 0px 5%;
    background-color: var(--background03);
}

.proyectos--inner {
    flex-direction: column;
    gap: 10vh;
}

.proyectos,
.proyectos--inner,
.proyectos--title,
.proyectos--description,
/* .proyectos--tab, */
.proyectos--containerBox,
.proyectos--detalle {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.proyectos--tab {
    width: 50px;
}

.proyectos--containerBox__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.proyectos--box {
    width: 15vw;
    height: 15vw;
    border-radius: 5px;
    box-shadow: 5px 5px 12px 0px rgba(255, 255, 255, 0.01);
    background: var(--background04);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    cursor: pointer;
}

.sombreado {
    box-shadow: 5px 5px 12px 0px rgba(255, 255, 255, 1);
}

.proyectos--boxImg {
    width: 50%;
    height: 50%;
}
.proyectos--TablaDetalle {
    width: 90%;
    height: 50vh;
    border-radius: 5px;
    box-shadow: 5px 5px 12px 0px rgba(255, 255, 255, 0.1);
    background: var(--background04);
    margin: 10vh 0px;
}

/******************************************/
/***** para funcion contenido detalle *****/

.DetalleProyecto {
    width: 100%; height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.DetalleProyecto--derecha {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
}

.DetalleProyecto--derecha--contenedorDeImagen {
    width: auto;
    height: 30%;
}

.DetalleProyecto--izquierda {
    height: 100%;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2vh;
}

.DetalleProyecto--up {
    width: 100%;
    height: auto;
}

.DetalleProyecto--down {
    width: 100%;
    height: auto;
}

/******************************************/
/****** Funcion para cada caja de seccion proyectos ************************************/

.proyectos--box--contenedorDeImagen {
    width: 25%;
    height: 25%;
}

.proyectos--box--titulo {
    width: auto;
    height: auto;
}

.proyectos--box--icon, .proyectos--tab--icon, .DetalleProyecto--Icon {
    filter: invert(95%) sepia(42%) saturate(5365%) hue-rotate(16deg) brightness(106%) contrast(107%);
}