@import '../styles.css';

.Team2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5%;
    background-color: var(--background04);
    border-top: 1px solid var(--border01);
    border-bottom: 1px solid var(--border01);
}

.Team2--Title, .Team2--Blocks {
    width: 100%;
    height: auto;
    display: flex;
}

.Team2--Title {
    justify-content: center;
    margin: 30px 0;
}

.Team2--Blocks {
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 25px;
}

.Team2--Block {
    width: 18vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: var(--background03);
    padding: 0 10px 10px 10px;
    box-shadow: 5px 5px 12px 0px rgba(255, 255, 255, 0.01);
}


.Team2--Block ul {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    margin-top: 10px;
}

.Team2--description {
    font-size: 17px; 
    font-weight: 400;
    color: var(--text01);
}

/******/

.Team2--Member {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
}

.Team2--ImgContainer {
    width: 100%;
    height: 50vh;
}

.Team2--BlockTextAndLogo {
    width: 80%;
    height: auto;
    list-style: none;
}

.Block--Text {
    width: 100%;
}

.Block--Logo {
    width: 0%;
}

.Block--Text ul {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    list-style: none;
}



.Team2--sub {
    text-transform: capitalize;
    font-size: 20px; 
    font-weight: 600;
    color: var(--text01);
}

.oculto {
    display: none;
}