:root {
    --background01: rgb(55 65 81);
    --background02: rgb(64 71 86);
    --background03: rgb(35 39 47);
    --background04: rgb(25 27 33);
    --background05: rgb(22 24 29);

    --background06: #149eca;
    --border01: #e5e7ea26;
    --text01: rgb(246 247 249);
}

p, h6 {
    font-family: 
        ui-sans-serif,system-ui,
        -apple-system,BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Arial,
        Noto Sans,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol,
        Noto Color Emoji;
}

h1, h2, h3 {
    font-weight: 600;
    margin-top: 1rem;

    font-family: 
        Optimistic Display,
        -apple-system,
        ui-sans-serif,
        system-ui,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Arial,
        Noto Sans,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol,
        Noto Color Emoji;
}

h1, h2, h3, h4, h6, p { color: var(--text01); }

h1 {
    font-size: 52px;
    line-height: 1.375;
    padding: 10vh 0;
    text-transform: capitalize; 
    line-height: 1.375; 
    font-weight: 600;
}

h2 {
    font-size: 52px;
    margin-bottom: 1.75rem;
}

h3 {
    font-weight: 600;
    font-size: 20px; 
}

h4 {
    font-weight: 600;
    font-size: 17px; 
}

h6 { 
    font-size: 15px; 
    color: var(--border01);
}

p { 
    font-size: 17px; 
    font-weight: 400;
    color: var(--text01);
 }

 img {
    width: 100%;
    height: 100%;
    image-orientation: unset;
    border-image-repeat: stretch;
 }